<a href="https://colab.research.google.com/github/aravindguna/lannet-/blob/master/lannet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#code to find the difference of given combination of datetime

In [1]:
import pandas as pd #pandas data frame
url = 'https://raw.githubusercontent.com/aravindguna/lannet-/master/olist_orders_dataset.csv'
dataset = pd.read_csv(url)

In [2]:
#functon for converting the datetime in object type to datetime format
def datatype_conversion(data):
    for i in data.columns:
        try:
            data[i]= pd.to_datetime(data[i],dayfirst=True)   #conversion of object to datetime dtypes     
        except:                                              
            continue #to continue the loob when loop encounter non datetime dtypes

In [3]:
#conversion of different date time formats to single standared date time format
def format_conversion(data):
    for i in data.columns:
        if data[i].dtype == "datetime64[ns]":
            data[i] = data[i].dt.strftime('%d/%m/%Y %H:%M:%S')

In [4]:
#to determine number of datetime coloumns in given dataset
def number_of_columns(data):
    l=[]
    for i in data.columns:
        if data[i].dtype == "<M8[ns]":
            l.append(i)
    return len(l),l

In [5]:
#to find the number of different difference combination can be found in the given data set
def get_combinations(values,length):
    from itertools import combinations 
    comb = combinations(values,length)
    final = []
    for i in comb:
        final.append(i)
    return final

In [6]:
dataset = dataset.dropna() #dropping missing values in dataset
dataset = dataset.reset_index(drop=True) #index resetting  to avoid missing index

In [7]:
datatype_conversion(dataset)
format_conversion(dataset)
datatype_conversion(dataset)
output = list(number_of_columns(dataset))
output1 = get_combinations(output[1],output[0]-1)
final = list(range(1,len(output1)+1)) #creating list to determine number of variable names
for i,r in zip(output1,final): #zippig of two variable to run loop simultaneously
    dataset["date"+str(r)] =abs(dataset[i[1]] -  dataset[i[0]]) #absoulus function to avoid negative values

In [8]:
dataset

                               order_id  ...            date3
0      e481f51cbdc54678b7cc49136f2d6af7  ...  7 days 02:35:00
1      53cdb2fc8bc7dce0b6741e2150273451  ...  5 days 08:33:00
2      47770eb9100c2d0c44946d9cf07ec65d  ... 17 days 05:54:00
3      949d5b44dbf5de918fe9c16f97b45f8a  ... 12 days 23:32:00
4      ad21c59c0840e6cb83a9ceb5573f8159  ...  9 days 05:43:00
...                                 ...  ...              ...
19422  c2ec4601c71af45d10781c0d50d98d63  ... 10 days 04:27:00
19423  c977e225ec57bdeb592c91bacf0f2897  ...  7 days 06:37:00
19424  4a39a614e7c288237aa03883c20965db  ... 13 days 05:26:00
19425  7729e4f24027d10a411f2ca08df03327  ... 12 days 09:25:00
19426  a60ea8fd020bfa5f5bf961965d429930  ... 13 days 10:50:00

[19427 rows x 9 columns]